@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;660;700&display=swap');

body {
  padding: 0;
  margin: 0;
}

#root {
  min-height: 100vh;
  display: flex;
}

a {
  color: #737373;
  text-decoration: none;
}

.main{
  width: 100%;
}

.text {
  font-family: 'Montserrat', sans-serif;
}

.script {
  margin: 0 0 1rem 0;
  text-align: center;
  color: #de232887;
  font-weight: 600;
}

.wrapper {
  padding: 1rem;
  background-color: #fff;
  border-radius: 5px;
}

.wrap_vertical {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.comment{
  resize: none;
  font-family: 'Montserrat', sans-serif;
  padding: 0.5rem;
  outline: none;
  border-radius: 4px;
  border: 1px solid #c4c4c4;
  &:focus{
    border: 1px solid #1876d0;
    outline: 1px solid #1876d0;
  }
}

.form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  &__row{
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  &__title{
    width: 300px;
    min-width: 300px;
  }
  &__inputs{
    display: flex;
    gap: 1rem;
    width: 100%;
  }
}